<div class="mdl-textfield mdl-js-textfield ipfs-search-box">
  {{input type="search"
    placeholder="enter an IPFS url, path, or multihash..."
    class="mdl-textfield__input"
    id="ipfs-search"
    value=text
    enter="onInputFinish"
    focus-in="onFocus"
    focus-out="onBlur"
  }}
</div>
{{#if searchBoxFocused}}
  <div>
    <span class="text-hint">prese Enter to explore</span>
  </div>
{{/if}}
{{#if searchError}}
  <div>
    <span class="text-error">{{ searchError }}</span>
  </div>
{{/if}}
