<div class="ipfs-search-box">
  {{mdl-textfield
    type="search"
    label="enter an IPFS url, path, or multihash..."
    value=text
  }}
</div>

{{#if searchError}}
  <p class="text-error">{{ searchError }}</p>
{{/if}}

{{#if ipfsInitializing}}
  <p class="text-hint">Initializing IPFS node...</p>
{{/if}}

<div>
  {{mdl-button isRaised=true text="Explore" action="openHash" disabled=ipfsInitializing}}
</div>
