@import 'header.less';
@import 'footer.less';
@import 'ipfs-search.less';

.ribbon {
  width: 100%;
  height: 40vh;
  background-color: #3F51B5;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.main {
  margin-top: -35vh;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.container {
  max-width: 1600px;
  width: calc(100% - 16px);
  margin: 0 auto;
}

.content {
  border-radius: 2px;
  padding: 80px 56px;
  margin-bottom: 80px;
}

.ipfs-links {
  width: 100%;
}
